.category-section{
    margin-top:80px;
    margin-bottom:20px;
}

.image-space{
    padding-left:15px;
    padding-right:15px;
    z-index: -1;
    /*border-radius: 35px  35px 35px 35px;*/
}

.c-slider-desc{
    /*width:250px;*/
    margin-right: auto;
    margin-left: auto;
    /*border-radius: 25px 25px 0 0;*/
    margin-top: 340;
    z-index: 0;
    background-color: white;
    height: 60px;
    min-width: 200px;
    max-width:350px;
    text-align:center;
    padding:8px;
    line-height:1;
}

.c-slider-heading{
    font-size: x-large;
    font-weight: bold;
}

.c-slider-paragraph{
    margin-top:-5px;
    color:gray;
}

.c-rounded{
    border-radius: 40px 40px 0 0;
}